<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!--
******************************************************************************
* Log4j Configuration
*
* Logging levels (highest to lowest):
*   off, fatal, error, warn, info, debug, all
* A logging request is enabled if its level is
* higher than or equal to the level of its logger.
*
* See the link below for output format
* http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/PatternLayout.html
******************************************************************************
-->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

  <!-- ******************************************************************* -->
  <!-- ConsoleAppender                                                     -->
  <!-- ******************************************************************* -->
  <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
    <param name="Threshold" value="warn"/>

    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{HH:mm:ss.SSS} %-5p %32C{1}[%4L] - %m%n"/>
    </layout>
  </appender>

  <!-- ******************************************************************* -->
  <!-- FileAppender                                                        -->
  <!-- ******************************************************************* -->
  <appender name="FileAppender" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="target/test.log"/>
    <param name="Append" value="false"/>

    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{HH:mm:ss.SSS} %-5p %64C[%4L] - %m%n"/>
    </layout>
  </appender>

  <!-- ******************************************************************* -->
  <!-- Low Level Loggers                                                   -->
  <!-- ******************************************************************* -->
  <logger name="org.archfirst">
    <level value="trace"/>
  </logger>

  <!-- ******************************************************************* -->
  <!-- Root Logger                                                         -->
  <!-- ******************************************************************* -->
  <root>
    <level value="warn"/>
    <appender-ref ref="ConsoleAppender"/>
    <appender-ref ref="FileAppender"/>
  </root>

</log4j:configuration>