<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>

    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>REST Service</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>org.archfirst.bfexch.restservice</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>REST Service</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

    <!-- Servlet mappings required for JBoss AS 7 -->
    <!--
    <servlet>
        <servlet-name>ReferenceDataService</servlet-name>
        <servlet-class>org.archfirst.bfexch.webservice.referencedata.ReferenceDataWebService</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ReferenceDataService</servlet-name>
        <url-pattern>/ReferenceDataService/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MarketDataService</servlet-name>
        <servlet-class>org.archfirst.bfexch.webservice.marketdata.MarketDataWebService</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MarketDataService</servlet-name>
        <url-pattern>/MarketDataService/*</url-pattern>
    </servlet-mapping>
    -->

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>

</web-app>